body {
  margin: 0;
}
header {
  background-color: #FFD7F4;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
#logo {
  width: 80px;
}
#hamburgerMenu {
  float: right;
  display: none;
}
header ul {
  float: right;
  color: black;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  cursor: pointer;
}
header p {
  display: inline-block;
}
.heroImg {
  background-image: linear-gradient(#FFD7F4, white);
  padding: 100px 15px;
}
#myPicture {
width: 150px;
border-radius: 60%;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 40px;
  color: black;
  border: 2px solid black;
      box-shadow: 
  0 0 30px 2px #DBC0FF;
}
button {
  padding: 15px;
  background-color:plum;
  color: black;
  font-size: 15px;
  border-radius: 22px;
  cursor: pointer;
}
footer {
  background-color: #fccdef;
  padding: 5px;
  color: black;
  padding-right: 40px;
  padding-left: 40px;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  text-align: right;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  align-items: center;
  justify-content: space-evenly;
}
.flexContainer div {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 25px;
  border: 2px solid #DBC0FF;
  box-shadow: 
  0 0 30px 2px #DBC0FF;
  border-radius: 20px;
}
.flexContainer img {
  margin-left: 25%;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-image: linear-gradient(white, #FFD7F4);
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}

@media only screen and (max-width: 1100px) {
.flexContainer {
  flex-wrap: wrap;
  row-gap: 40px;
}
}
@media only screen and (max-width: 700px) {
.workGrid {
  grid-template-areas:
  "img1" 
  "content1"
  "img2"
  "content2"
  "img3" 
  "content3"
}
.workGrid img {
  margin-left: 10vw;
}
.content1 {
  width: 60vw;
  margin-left: 4vw;
}
.content2 {
  width: 60vw;
  margin-left: 4vw;
}
.content3 {
  width: 60vw;
  margin-left: 4vw;
  margin-top: -100px;
}
header ul {
  display: none;
}
#hamburgerMenu {
  display: inline-block;
}
}
